<div class="row">
    <div class="col-md-12">
        <h1>{{title}}<a href="/employees/add" class="btn btn-success pull-right" style="margintop:5px;">Add
New Employee</a>
            <h1>
                <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table-striped table">
                <tr>
                    <th>Employee Num</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Manager ID</th>
                    <th>Status</th>
                    <th>Department</th>
                    <th>Hired On</th>
                </tr>    
                <tbody>
                    {{#each data}}  <!-- create new row for each employee -->
                    <tr colspan="8">
                        <td>
                             {{employeeNum}}
                        </td>
                        <td>
                            <a href="/employees/{{employeeNum}}">
                                {{firstName}} {{lastName}}
                            </a>
                        </td>
                        <td>
                            <a href="mailto:{{email}}">
                                {{email}}
                            </a>
                        </td>
                        <td>{{addressStreet}}{{addressCity}}, {{addressState}}. {{addressPostal}}</td>
                        <td>
                            <a href="/employees?manager={{employeeManagerNum}}">
                                {{employeeManagerNum}}
                            </a>
                        </td>
                        <td>
                            <a href="/employees?status="{{status}}">
                                {{status}}
                            </a>
                        </td>
                        <td>
                            <a href="/employees?department={{department}}">
                                {{department}}
                            </a>
                        </td>
                        <td>{{hireDate}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>